/* Initial Setup */
html, body {
    background-color: black;
}

.page {
    color: aqua;
    text-align: center;
}

.title {
    font-size: 60px;
}

/* Initial Setup */



/* Decks */

.decksContainer {
    margin-top: 40px;
    align-items: center;
}

.deck {
    margin: 0 auto;
    margin: 20px;
}

.deckButton {
    cursor: pointer;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border: solid 4px aqua;
    border-radius: 15px;
    background-color: gray;
    transition: 0.3s;
}

.deckButton:hover {
    background-color: rgb(66, 64, 64);
    color: rgb(3, 187, 187);
    transition: 0.3s;
}

.createInput {
    width: 200px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    border: solid 4px aqua;
    border-radius: 15px;
    margin-right: 20px;
    background-color: rgb(66, 64, 64);;
    color: aqua;
}

::placeholder {
    color: aqua;
}

.decksTitle {
    font-size: 40px;
}

.createButton {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border: solid 4px aqua;
    border-radius: 15px;
    background-color: rgb(66, 64, 64);
    color: aqua;
    transition: 0.3s;
}

.createButton:hover {
    font-size: 18px;
    padding: 10px;
    border: solid 4px aqua;
    border-radius: 15px;
    background-color: gray;
    color: aqua;
    transition: 0.3s;
}
/* Decks */

/* Cards */

.currentTitle {
    font-size: 60px;
}

.topRowCards {
    display: flex;
    justify-content: space-between;
}

.addRow {
    display: flex;
    flex-direction: row;
}

.ReturnDecksButton {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(66, 64, 64);
    font-size: 18px;
    margin-left: 40px;
    border: solid 4px aqua;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}

.ReturnDecksButton:hover {
    background-color: gray;
    color: aqua;
    transition: 0.5s;
}

.StudyButton {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(66, 64, 64);
    font-size: 18px;
    margin-left: 50px;
    border: solid 4px aqua;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}

.StudyButton:hover {
    background-color: gray;
    color: aqua;
    transition: 0.5s;
}

.DeleteDeckButton {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(66, 64, 64);
    font-size: 18px;
    margin-right: 40px;
    border: solid 4px aqua;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}

.DeleteDeckButton:hover {
    background-color: rgb(217, 16, 16);
    color: rgb(0, 9, 9);
    transition: 0.5s;
}

.AddCardButton {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(66, 64, 64);
    font-size: 18px;
    margin-top: 20px;
    margin-left: 40px;
    border: solid 4px aqua;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}   

.AddCardButton:hover {
    background-color: gray;
    color: aqua;
    transition: 0.5s;
}

.cardName {
    margin-top: 40px;
    font-size: 50px;
}

.cardNameAnswer {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 50px;
}

.responseButton {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(66, 64, 64);
    font-size: 18px;
    margin-top: 20px;
    border: solid 4px aqua;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}

.responseButton:hover {
    background-color: gray;
    color: aqua;
    transition: 0.5s;
}

.cardCounters p {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.cardCountersBefore p {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 200px;
    margin-bottom: 0px;
}

.newCardsCounter {
    color: rgb(0, 136, 255);
}

.reviewCardsCounter {
    color: rgb(3, 211, 3);
}

.choicesButton {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(66, 64, 64);
    font-size: 18px;
    margin-top: 20px;
    border: solid 4px aqua;
    border-radius: 15px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
}

.choicesButton:hover {
    background-color: gray;
    color: aqua;
    transition: 0.5s;
}

/* Cards */



/* Modal */

.modalBackground {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    align-items: center;
    text-align: center;
}

.modalTitle {
    display: flex;
    flex-direction: column-reverse;
    font-size: 30px;
}

.modalTitle h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.modalContainer {
    background-color: gray;
    width: 40%;
    margin: 0 auto;
    border-color: aqua;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    margin-top: 120px;
}

.x-button {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    border-bottom: solid 4px;
    background-color: rgb(43, 40, 40);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
};

.modalTitle button {
    cursor: pointer;
    height: 40px;
    width: 50px;
}

.closeButton {
    cursor: pointer;
    height: 40px;
    width: 80px;
    border-top-right-radius: 15px;
    border-color: rgb(13, 144, 144);
    border-width: 6px;
    background-color: white;
    transition: 0.5s;
    font-size: 20px;
    font-weight: bold;
}

.modalTitle button:hover {
    background-color: rgb(217, 16, 16);
    transition: 0.5s;
}

.modalInputs {
    display: flex;
    flex-direction: column;
}

.modalInputs input {
    background-color: rgb(80, 79, 79);
    color: aqua;
    margin: 10px;
    height: 20px;
    width: 200px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 20px;
    padding: 5px;
}

.modalInputs label {
    font-size: 30px;
}

.addButton {
    cursor: pointer;
    background-color: rgb(80, 79, 79);
    width: 130px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border: solid 4px aqua;
    border-radius: 20px;
    transition: 0.5s;
}

.addButton:hover {
    background-color: rgb(80, 79, 79);
    color: aqua;
    transition: 0.5s;
}

/* Modal */